*{margin: 0;}
body{width: 100%;}

.top{width: 100%;text-align: center;background-color: black;}
.bar{display: inline-block;width: 1440px;height: 72px;}

.logo_form{display: inline-block;color: #ffffff;font-family: 'Notable', sans-serif;font-size:2em;font-weight: 500;letter-spacing: .2em;margin-right: 450px;position: relative;top: -12px;}
.menutext_form{display: inline-block;color: #ffffff;font-family: sans-serif;font-size: 1.3em;font-weight: 300;letter-spacing: .1em;margin: 40px 30px 30px 20px;position: relative;top: -15px;}

.top a:link{text-decoration: none;color: white;}
.top a:visited{color: white;}
.top a:active{color: white;}
.top a:hover{color: #ffbf00;}

.menutext_form a:link{text-decoration: none;color: white;}
.menutext_form a:visited{color: white;}
.menutext_form a:active{color: white;}
.menutext_form a:hover{color: #ffbf00;}

#pt{height: 670px;width: 100%;background-size: cover;background-attachment: fixed;overflow: hidden;}
#pr{height: 650px;width: 100%;background-size: cover;background-attachment: fixed;overflow: hidden;}
#py{height: 670px;width: 100%;background-size: cover;background-attachment: fixed;overflow: hidden;}

.p1{background-image: url(../img/sg_01.png);}
.p2{background-image: url(../img/sg_02.png);}
.p3{background-image: url(../img/sg_03.png);}

.posi{text-align: center;position: relative;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);}
.posi :hover{transform: scale(0.95);transition: 0.5s}
.posi{text-align: center;position: relative;left: 30%;top: 50%;transform: translateX(-50%) translateY(-50%);}
.posi :hover{transform: scale(0.95);transition: 0.5s}
.posi{text-align: center;position: relative;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);}
.posi :hover{transform: scale(0.95);transition: 0.5s}


.footer_form{height: 50px;background-color: #000000;}
.footertext_form{color: #ffffff;font-family: sans-serif;font-size: 1.1em;
  font-weight: 300;letter-spacing: .1em;text-align: center;position: relative;top: 20%;text-transform: uppercase;}

.p01_body{text-align: center;height: 2000px;width: 100%;background-color: #ffbf00;}
.p02_body{text-align: center;height: 2000px;width: 100%;background-color: #ffbf00;}
.p03_body{text-align: center;height: 2000px;width: 100%;background-color: #e59700;}
